<h1>Liste des films :</h1>

<button mat-raised-button color="primary" [routerLink]="'films/new'">New film</button>
<br>
<p></p>
<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-card *ngFor="let film of films | async">
  <mat-card-header>
    <mat-card-title>
      <h3>
        <a [title]="'Détails du film : ' + film.title" [routerLink]="'/films/' + film.id">{{ film.title }}</a>
        <span *ngIf="film.isFav"><mat-icon>star</mat-icon></span>
      </h3>
    </mat-card-title>
    <mat-card-subtitle>
      <h4>by {{ film.director }}</h4>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>({{ film.imbdRating }})</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" [title]="'Delte : ' + film.title" (click)="onDelete(film.id)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-raised-button color="accent" [title]="'Ajouter aux favoris : ' + film.title" (click)="onFav(film)">
      <span><mat-icon *ngIf="!film.isFav">star_border</mat-icon><mat-icon *ngIf="film.isFav">star</mat-icon> Fav</span>
    </button>
  </mat-card-actions>
</mat-card>
