<div *ngIf="film | async as film">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ film.title}}</mat-card-title>
      <mat-card-subtitle>{{ film.director }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ film.synopsis}}
      </p>
      <p>{{ film.releaseYear }}</p>
      <p>({{ film.imbdRating }})</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [title]="'Update : ' + film.title" [routerLink]="['/films/' + film.id + '/update']"><mat-icon>edit</mat-icon> Update film</button>
      <button mat-raised-button color="warn" [title]="'Delte : ' + film.title" (click)="onDelete()"><mat-icon>delete</mat-icon> Delete film</button>

    </mat-card-actions>
  </mat-card>
</div>
