<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
    <input matInput placeholder="Title" id="title" type="text"
           formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">Title is required</div>
      </div>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Synopsis</mat-label>
      <input matInput placeholder="Synopsis" id="synopsis" type="text"
             formControlName="synopsis" [ngClass]="{ 'is-invalid': submitted && f.synopsis.errors }">
      <div *ngIf="submitted && f.synopsis.errors" class="invalid-feedback">
        <div *ngIf="f.synopsis.errors.required">Synopsis is required</div>
      </div>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Release Year</mat-label>
      <input matInput placeholder="1900 - 2099" id="releaseYear" type="number"
             formControlName="releaseYear" [ngClass]="{ 'is-invalid': submitted && f.releaseYear.errors }">
      <div *ngIf="submitted && f.releaseYear.errors" class="invalid-feedback">
        <div *ngIf="f.releaseYear.errors.required">Release Year is required</div>
      </div>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Director</mat-label>
      <input matInput placeholder="Director" id="director" type="text"
             formControlName="director" [ngClass]="{ 'is-invalid': submitted && f.director.errors }">
      <div *ngIf="submitted && f.director.errors" class="invalid-feedback">
        <div *ngIf="f.director.errors.required">Director is required</div>
      </div>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Rating</mat-label>
      <input matInput placeholder="1-10" id="imbdRating" type="number"
             formControlName="imbdRating" [ngClass]="{ 'is-invalid': submitted && f.imbdRating.errors }">
      <div *ngIf="submitted && f.imbdRating.errors" class="invalid-feedback">
        <div *ngIf="f.imbdRating.errors.required">Rating is required</div>
      </div>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" class="button" type="submit" [disabled]="!checkoutForm.valid">Validate</button>

</form>
